
.question {
  position: absolute;
  max-width:20%;
  width: 40%;
  height:20%;
  font-size:80%;


}
div{

}
.textBox{
	width: 30%;
	left:50%;
	text-align:center;
    margin: 0 auto;
}
div#nou{
	margin: 0 auto;
	  left: 50%;
	  text-align:center;
	
}
html, body {
    background: url("../images/nature2.png")no-repeat scroll 0 0 / 100% 100% transparent !important;
    width:100%;  /*adaugat recent*/
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.img-responsive{
	max-width: 20%;
	max-height:20%;
}
#rabbit
{
width: 20%;
height:50%;
position: absolute;
  top: 20px;
 left: 80px;
}
#house
{
width: 80px;
height:80px;
position: absolute;
top: 0px;
left: 50px;
}
#mesaj
	 {position: absolute;
	 top: 5%;
	 left:40%;
	 font-size :80%;
	 border-radius: 25px;
	 padding: 20px; 
	 width: 20%;
	 height: 10%;
}
.tableQuestions{
	 border: 1px solid black;
	 background-color:#F5A9F2;
     width:30%;
     padding-right: 1px;
     padding-left: 1px;
     overflow:hidden;


}
.error {
	background:#ffecec url('../images/error.png') no-repeat 20px 80%;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/success.png') no-repeat 20px 80%;
	border:3px solid #a6ca8a;
}
.warning {
	background:#F5A9F2 url('../images/warning.png') no-repeat  2px 60%;
	border:1px solid #f2c779;
	position: absolute;
	width:400px;
	height:400px;
}
.currentQuestion
{
	 text-shadow: 0 0 3px #FF0000;
   animation-name: changeBackground;
   -webkit-animation-name: changeBackground;
   -webkit-animation-duration: 5s;
     animation-iteration-count: 10;
     box-shadow: 10px 10px grey;

}
@keyframes changeBackground {
    from {background-color: #F5A9F2;}
    to {background-color: red;}
}

#container
{
	width:100%;
	margin:0px auto;
}
@media only screen and (max-device-width:1400px){
#container{
	width:100%;
	height:auto;}
div.question{
	width:100%;
  height:auto;}
  .tableQuestions{font-size:30px;}


}
@media screen and (max-width:765px){
#container{
width:100%;
height:auto;
	}
#rabbitGame
{
 opacity: 1.0;
 max-width: 50%;
 max-height:100%;

}
}

@media only screen and (max-device-width:360px){
#container{
	height:100%;
	width:100%;
	
}

}

