.question 
{ 	position: absolute;
  	font-size:60%;
  	 font-weight: bold;
}
.images
{
 background-image: url('../images/carrot.png');
   background-repeat:no-repeat;
   background-size:contain;
   height:50px;
   width:50px;
}
.textBox
{ 	width: 30%;
  	left:50%;
  	text-align:center;
  	margin: 0 auto;
}
div.nou{
	margin: 0 auto;
	left: 50%;
	text-align:center;	
}
html, body {
    background: url("../images/nature2.png")no-repeat scroll 0 0 / 100% 100% transparent !important;
    width:100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

#content-div
{
	position: relative;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

#rabbitGame
{
	position:fixed;
	width:50px;
	height: 50px;
}

#restart
{	background: rgb(28, 184, 65); 
 	font-size: 125%;
 	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 	float:center;
}

.tableQuestions{
	 border: 1px solid black;
	 background-color:#F5A9F2;
     width:30%;
     padding-right: 1px;
     padding-left: 1px;
     overflow:hidden;
}
.error {
	background:#ffecec url('../images/error.png') no-repeat 20px 80%;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/success.png') no-repeat 20px 80%;
	border:3px solid #a6ca8a;
}
.warning {
	background:#F5A9F2 url('../images/warning.png') no-repeat  2px 60%;
	border:1px solid #f2c779;
	position: absolute;
	width:400px;
	height:400px;
}

#imagineHelp
{
	top:10px;
	left:10px;
	width: 33px;
    height: 56px;
    cursor: pointer;
    background: url(../images/butoane_app_shadow.png);
    margin-bottom: 1px;
}
#startModal .modal-header
{ background-color: #0480be;
  color: red;
}

#startModal .modal-body
{
 font-family: "Comic Sans MS", Times, serif;
 font-weight: bold;
}
#succesModal .modal-header
{
background-color: #339933;
}   

 #errorModal .modal-header
{
background-color: #990000;
color:white;
 }           
 #endModal .modal-header
{ background-color: #0480be;
  color: red;
}
#endModal .modal-body
{
 font-family: "Comic Sans MS", Times, serif;
 font-weight: bold;
}

#helpModal .modal-body
{
 font-family: "Comic Sans MS", Times, serif;
 font-weight: bold;
}
#helpModal .modal-header
{
background-color: #E6CC80;
} 