
.question {
	 position: absolute;
  max-width:20%;
  min-width:20%;
  width: 50%;
    height:20%;
    font-size:80%;

}
div{

}
.textBox{
	width: 30%;
}
html, body {
    background: url("../images/nature2.png")no-repeat scroll 0 0 / 100% 100% transparent !important;
    height: 100%;
    margin: 0;
    padding: 0;
    	overflow:hidden;
}

/*.inputStyle
{ width:20px;
}*/
#rabbitGame
{
 opacity: 1.0;
 width: 20%;
 height:20%;

}
.img-responsive{
	max-width: 20%;
	max-height:20%;
}
#imageCarrot
{
/*max-width: 80px;
width: 100%;
height:80px;*/
}
#rabbit
{
width: 20%;
height:50%;
position: absolute;
  top: 20px;
 left: 80px;
}
#house
{
width: 80px;
height:80px;
position: absolute;
  top: 0px;
 left: 50px;
}
#mesaj
	 {position: absolute;
	 top: 5%;
	 left:40%;
	 font-size :100%;
	 border-radius: 25px;
	 padding: 20px; 
	 width: 20%;
	 height: 10%;
}
.tableQuestions{
	 border: 1px solid black;
	 background-color:#F5A9F2;
     width:30%;
    padding-right: 1px;
    padding-left: 1px;
    	overflow:hidden;

}
.error {
	background:#ffecec url('../images/error.png') no-repeat 20px 80%;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/success.png') no-repeat 20px 80%;
	border:3px solid #a6ca8a;
}
.warning {
	background:#F5A9F2 url('../images/warning.png') no-repeat  2px 60%;
	border:1px solid #f2c779;
	position: absolute;
	width:400px;
	height:400px;
}
.currentQuestion
{
	 text-shadow: 0 0 3px #FF0000;
   animation-name: changeBackground;
   -webkit-animation-name: changeBackground;
   -webkit-animation-duration: 5s;
     animation-iteration-count: 10;
     box-shadow: 10px 10px grey;

}
@keyframes changeBackground {
    from {background-color: #F5A9F2;}
    to {background-color: red;}
}

#container
{
	width:100%;
	margin:0px auto;
}
@media only screen and (max-device-width:1400px){
#container{
	width:100%;
	height:auto;}
div.question{
	width:100%;
  height:auto;}
  .tableQuestions{font-size:30px;}


}
@media screen and (max-device-width:765px){
#container{
max-width:100%;
 max-height:auto;
	}
  .tableQuestions{font-size: 16px;}


#rabbitGame
{
 opacity: 1.0;
 width: 100%;
 height:100%;

}
}
@media only screen and (max-device-width:360px){
#container{
	max-height:100%;
	width:100%;
	
}
 .tableQuestions{font-size: 12px;}

}

